<card>
  <div class='wrapper' onclick={click}>
  <!-- <div class='wrapper' > -->
      <div class='inner {front?'roll':''}' >
          <div class='front'>
            <div>
              <span if='{opts.suit==="1"}' style="color: blue;">&spades;</span>
              <span if='{opts.suit==="2"}' style="color: red;">&hearts;</span>
              <span if='{opts.suit==="3"}' style="color: #CCCC00;">&diams;</span>
              <span if='{opts.suit==="4"}' style="color: green;">&clubs;</span>
            </div>
            <div>
              <span>{
                opts.number=='1'?'A':
                opts.number=='11'?'J':
                opts.number=='12'?'Q':
                opts.number=='13'?'K':
                opts.number=='0'?'JOKER':opts.number

              }</span>
            </div>
          </div>
          <div class='back'></div>
      </div>
  </div>

  <style>
    card {
      text-align: center;
      vertical-align: center;
    }

    .wrapper {
      width: 66px;
      height: 80px;
      margin: 0 auto;
      perspective: 1000;
        -webkit-perspective: 1000;
    }
    .inner {
      position: relative;
      transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
      transition: .6s;
        -webkit-transition: .6s;
    }
    .front,
    .back {
      width: 66px;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    
      border: 1px solid #000;
      border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
    }
    .front {
      background-color: #fff;
    
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    .back {
      /* 柄 http://mae.chab.in/archives/2269 */
      background-image: linear-gradient(
        -45deg,
        #fff 25%,
        Aqua 25%, Aqua 50%,
        #fff 50%, #fff 75%,
        Aqua 75%, Aqua
      );
      background-size: 8px 8px;
    }

    .roll {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  </style>

  if(opts.open=='true') this.front=true;
  
  this.click=function(){
    this.front=!this.front;
  }
</card>
