<my-dialog>
  <div ref='modal' class="md-modal md-effect-1">
    <div class="md-content">

      <h3>{opts.title}</h3>
      <div>
        <div each={ line in opts.msg }>{ line }</div>
      </div>
      <footer>
        <button class="md-close" each={ key in opts.btn } onclick={ key.action }>{ key.name }</button>
      </footer>

    </div>
  </div>
  <div class="md-overlay" onclick={closeDialog}></div>

  <style>
    :scope
    .md-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 50%;
      max-width: 630px;
      min-width: 320px;
      height: auto;
      z-index: 2000;
      visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .md-content {
      color: #000;
      background: #fff;
      position: relative;
      border-radius: 3px;
      margin: 0 auto;
  
      padding:10px 20px;
      border:2px solid #aaa;
      background:#fff;
    }
    
    .md-show {
      visibility: visible;
    }
    .md-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      visibility: hidden;
      top: 0;
      left: 0;
      z-index: 1000;
      opacity: 0;
      background-color:rgba(0,0,0,0.75);
      transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .md-show ~ .md-overlay {
      opacity: 1;
      visibility: visible;
    }

  /* 表示挙動を変更したい場合、下記参考にmd-effect-x系を差し替えるとよいかと
   * http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/
   */
    .md-effect-1 .md-content {
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .md-show.md-effect-1 .md-content {
      transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
      opacity: 1;
    }

    footer {
      text-align: center;
    }

    button {
      margin: 8px;
      min-width: 80px;
    	border: 1px solid #15aeec;
    	background-color: #49c0f0;
    	background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
    	background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
    	border-radius: 4px;
    	color: #fff;
    	line-height: 50px;
    	-webkit-transition: none;
    	transition: none;
    	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }
    .button:hover {
    	border:1px solid #1090c3;
    	background-color: #1ab0ec;
    	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
    	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
    }
    .button:active {
    	background: #1a92c2;
    	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
    	color: #1679a1;
    	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
    }
  </style>

  const self = this

  self.on('mount', ()=>{
    setTimeout(function() {
      self.refs.modal.classList.add('md-show');
    }, 300);  //アニメーションのため遅延
  })
  self.on('update', ()=>{
    self.refs.modal.classList.remove('md-show')
  })
</my-dialog>