<messageview>
  <section id="top" class="top">
    <div class="jumbotron top">
        <div class="container">
    
            <div class="messageView right" id="default">
                <div class="mv-contents">
                    <p class="mv-name"></p>
                    <div class="mv-comment">
                        <p class="val"></p>
                        <p class="pointer"></p>
                    </div>
                    <p class="mv-image character"><img src="" alt=""></p>
                </div>
            </div>
    
        </div>
    </div>
  </section>

  var self=this;

  self.close=function(){
    self.root.style.display="none";
  }
  self.nonclose=function(e){
    e.stopPropagation();
  }

  self.on('before-mount', function() {
    self.close();
  })
  self.on('mount', function() {
    self.update();
    // //self.count=0;
    // window.addEventListener('resize', self.resize);
  })
  self.on('unmount', function() {
    // window.removeEventListener('resize', self.resize);    
  })

  self.open=function(i_msg){
    var message = new MessageViewer(
                        i_msg.msg
                        ,function() {
                          if(i_msg.func) i_msg.func();
                          self.close();
                          //self.unmount(true);
                        }
                      );
    self.root.style.display="";
  }


  <style>
    :scope
    a,hr {
        margin: 0;
        padding: 0
    }
    
    article,footer,header,hgroup,hr,menu,nav,section {
        display: block
    }
    
    .socialLinkList::after,footer::after {
        content: "";
        clear: both
    }
    
    address,article,audio,b,body,canvas,caption,dd,div,dl,dt,em,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,label,li,menu,nav,object,ol,p,pre,section,small,span,strong,table,tbody,td,tfoot,th,thead,time,tr,ul,video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0
    }
    
    body {
        line-height: 1
    }
    
    ul {
        list-style: none
    }
    
    a {
        font-size: 100%;
        vertical-align: baseline;
        background: 0 0
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0
    }
    
    b,em {
        font-style: normal
    }
    
    img {
        vertical-align: top
    }
    
    hr {
        height: 1px;
        border: 0;
        outline: 0
    }
    
    input,select {
        vertical-align: middle
    }
    
    p a {
        position: relative;
        font-size: 18px;
        text-align: center
    }
    
    .jumbotron.top {
        overflow: hidden
    }
    
    section#top.top .messageView {
        position: relative;
        width: 700px;
        height: 20pc;
        margin: 5pc auto 20px;
        cursor: pointer
    }
    
    section#top.top .messageView .mv-contents {
        padding: 5pc 0 0;
    }
    
    section#top.top .messageView .mv-contents .mv-name {
        position: absolute;
        top: 93px;
        left: -40px;
        width: 300px;
        padding: 2px 10px;
        background: rgba(47,109,174,.8);
        background: -webkit-gradient(linear,left top,right top,from(rgba(47,109,174,0)),color-stop(.1,rgba(47,109,174,.8)),color-stop(.9,rgba(47,109,174,.8)),to(rgba(47,109,174,0)));
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        text-shadow: #000 1px 1px 1px;
        text-shadow: #000 1px 1px 3px 1px;
        z-index: 20
    }
    
    section#top.top .messageView .mv-contents .mv-comment {
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 50px;
        height: 10pc;
        padding: 20px 30px 10px;
        background: rgba(33,54,94,.7);
        border-radius: 8px;
        color: #fff;
        z-index: 10
    }
    
    section#top.top .messageView .mv-contents .mv-comment .pointer {
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 20px;
        height: 34px;
        background: rgba(47,109,174,.8);
        background: url(https://umee4.github.io/rsc/img/icon_pointer.png) no-repeat;
        -moz-background-size: 20px auto;
        -o-background-size: 20px auto;
        -webkit-background-size: 20px auto;
        background-size: 20px auto;
        -moz-animation: pointer-anime 1s ease-in infinite;
        -webkit-animation: pointer-anime 1s ease-in infinite;
        animation: pointer-anime 1s ease-in infinite
    }
    
    section#top.top .messageView .mv-contents .mv-image.character {
        position: absolute;
        right: -62px;
        top: -111px;
        z-index: 1
    }
    
    section#top.top .messageView .mv-contents .mv-image.character img {
        display: block;
        width: 300px
    }
    
    @media screen and (max-width: 768px) {
        section#top.top .messageView {
            width:auto;
            height: auto;
            margin: 0 auto 20px
        }
    
        section#top.top .messageView .mv-contents .mv-name {
            top: 102px;
            left: -11px;
            width: 150px;
            font-size: 15px
        }
    
        section#top.top .messageView .mv-contents .mv-image.character {
            right: -15px;
            top: -1pc
        }
    
        section#top.top .messageView .mv-contents .mv-image.character img {
            width: 210px
        }
    
        section#top.top .messageView .mv-contents .mv-comment {
            height: 137px
        }
    
        section#top.top .messageView .mv-contents .mv-comment .val {
            font-size: 14px
        }
    
        section#top.top .messageView .mv-contents .mv-comment .pointer {
            right: 1pc;
            bottom: -10px;
            width: 15px;
            height: 34px;
            -moz-background-size: 15px auto;
            -o-background-size: 15px auto;
            -webkit-background-size: 15px auto;
            background-size: 15px auto
        }
    
        section#top.top .stage-buttons .btn {
            margin-bottom: 10px
        }
    
        section#top.top .socialLinkList.share {
            margin-top: 30px
        }
    
        section#top.top .optionsTable {
            overflow: scroll
        }
    
        h2.mainTitle {
            margin-top: 45px
        }
    
        h2.mainTitle img {
            width: 250px
        }
    
        h2.mainDetail {
            font-size: 18px
        }
    }
    
    @-webkit-keyframes pointer-anime {
        0% {
            -moz-transform: translate3d(0,0,0) scale(1);
            -ms-transform: translate3d(0,0,0) scale(1);
            -webkit-transform: translate3d(0,0,0) scale(1);
            transform: translate3d(0,0,0) scale(1);
            opacity: 0
        }
    
        0.1% {
            -moz-transform: translate3d(0,-18px,0) scale(1.1);
            -ms-transform: translate3d(0,-18px,0) scale(1.1);
            -webkit-transform: translate3d(0,-18px,0) scale(1.1);
            transform: translate3d(0,-18px,0) scale(1.1);
            opacity: 0
        }
    
        30%,50%,94% {
            -moz-transform: translate3d(0,0,0) scale(1);
            -ms-transform: translate3d(0,0,0) scale(1);
            -webkit-transform: translate3d(0,0,0) scale(1);
            transform: translate3d(0,0,0) scale(1);
            opacity: 1
        }
    
        40% {
            -moz-transform: translate3d(0,-4px,0) scale(1);
            -ms-transform: translate3d(0,-4px,0) scale(1);
            -webkit-transform: translate3d(0,-4px,0) scale(1);
            transform: translate3d(0,-4px,0) scale(1);
            opacity: 1
        }
    
        100% {
            -moz-transform: translate3d(0,0,0) scale(1);
            -ms-transform: translate3d(0,0,0) scale(1);
            -webkit-transform: translate3d(0,0,0) scale(1);
            transform: translate3d(0,0,0) scale(1);
            opacity: 0
        }
    }
    
    .navbar .fb-like {
        margin-top: 1pc
    }
    
    .fbBox {
        width: 450px;
        margin: 50px auto 0
    }
    
    .icon.next {
        display: inline-block;
        width: 17px;
        height: 17px;
        background: url(https://umee4.github.io/rsc/img/icon_pointer.png) left -34px no-repeat;
        -moz-background-size: 20px auto;
        -o-background-size: 20px auto;
        -webkit-background-size: 20px auto;
        background-size: 20px auto
    }
    
    .icon.social,.socialLinkList::after,.socialLinkList>li {
        display: block
    }
    
    .icon.social.l {
        background: url(https://umee4.github.io/rsc/img/icon_pointer.png) no-repeat;
        -moz-background-size: auto 33px;
        -o-background-size: auto 33px;
        -webkit-background-size: auto 33px;
        background-size: auto 33px
    }
    
    .icon.social.l.facebook {
        width: 1pc;
        height: 30px;
        background-position: left top
    }
    
    .icon.social.l.twitter {
        width: 2pc;
        height: 27px;
        background-position: -19px top
    }
    
    .icon.social.l.google {
        width: 2pc;
        height: 2pc;
        background-position: -53px top
    }
    
    .icon.social.l.hatena {
        width: 30px;
        height: 25px;
        background-position: -87px top
    }
    
    .icon.social.l.rss {
        width: 33px;
        height: 33px;
        background-position: -232px top
    }
    
    .icon.social.s {
        background: url(https://umee4.github.io/rsc/img/icon_pointer.png) no-repeat;
        -moz-background-size: auto 15px;
        -o-background-size: auto 15px;
        -webkit-background-size: auto 15px;
        background-size: auto 15px
    }
    
    .icon.social.s.facebook {
        width: 8px;
        height: 15px;
        background-position: left top
    }
    
    .icon.social.s.twitter {
        width: 1pc;
        height: 13px;
        background-position: -9px top
    }
    
    .icon.social.s.google {
        width: 1pc;
        height: 1pc;
        background-position: -26px top
    }
    
    .icon.social.s.hatena {
        width: 15px;
        height: 13px;
        background-position: -43px top
    }
    
    .icon.social.s.feedly {
        width: 17px;
        height: 15px;
        background-position: -59px top
    }
    
    .icon.social.s.pocket {
        width: 15px;
        height: 13px;
        background-position: -78px top
    }
    
    .icon.social.s.line {
        width: 17px;
        height: 15px;
        background-position: -94px top
    }
    
    .icon.social.s.rss {
        width: 17px;
        height: 17px;
        background-position: -87pt top
    }
    
    .socialLinkList.circle>li {
        width: 34px;
        height: 34px;
        background: url(https://umee4.github.io/rsc/img/icon_pointer.png) no-repeat;
        -moz-background-size: 205px auto;
        -o-background-size: 205px auto;
        -webkit-background-size: 205px auto;
        background-size: 205px auto
    }
    
    .socialLinkList.circle>li.twitter {
        background-position: -42px top
    }
    
    .socialLinkList.circle>li.hatena {
        background-position: -84px top
    }
    
    .socialLinkList.circle>li.rss {
        background-position: -129px top
    }
    
    .socialLinkList.circle>li.github {
        background-position: -171px top
    }
    
    .socialLinkList.circle>li>a {
        display: block;
        height: 34px
    }
    
    .socialLinkList.share {
        margin-top: 60px;
        text-align: center;
        vertical-align: top
    }
    
    .socialLinkList.share>li {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 60px;
        margin: 0 8px;
        padding: 0;
        background: #305097;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px
    }
    
    .socialLinkList.share>li>.iconWrap {
        height: 60px
    }
    
    .socialLinkList.share>li>.iconWrap .icon.social {
        margin: 40px auto 0
    }
    
    .socialLinkList.share>li>.iconWrap .icon.social.line {
        margin: 24px auto 0
    }
    
    .socialLinkList.share>li.twitter {
        background: #00aced
    }
    
    .socialLinkList.share>li.hatena {
        background: #008fde
    }
    
    .socialLinkList.share>li.google {
        background: #db4a39
    }
    
    .socialLinkList.share>li.pocket {
        background: #d3505a
    }
    
    .socialLinkList.share>li.line {
        background: #00c300
    }
    
    .socialLinkList.share>li .count {
        position: absolute;
        top: 5px;
        left: 4%;
        width: 92%;
        height: 15px;
        background: #fff;
        border-radius: 2px
    }
    
    .socialLinkList.share>li .count>.txt {
        font-size: 9pt;
        text-align: center;
        line-height: 15px
    }
    
    .socialLinkList.share>li .count::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -7px;
        left: 50%;
        height: 0;
        width: 0;
        margin: 0 0 0 -4px;
        border-top: #fff 8px solid;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 0 solid transparent
    }
    
    .socialLinkList.share>li .btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        z-index: 10
    }
    
    .socialLinkList.share>li .btn>a {
        display: block;
        width: 100%;
        height: 60px
    }
    
    footer {
        position: relative;
        height: 150px;
        margin-top: 50px;
        padding-top: 20px;
        background: #3d3d3d
    }
    
    footer::after {
        display: block
    }
    
    footer .logo {
        float: left;
        width: 10pc;
        padding: 4px 0;
        background: #fff;
        text-align: center
    }
    
    footer .copyright {
        position: absolute;
        bottom: 6px;
        width: 100%;
        font-size: 11px;
        color: #fff;
        text-align: center
    }
    
    footer .socialLinkList.circle {
        float: right;
        margin-top: 0
    }
    
    footer .socialLinkList.circle>li {
        float: left;
        margin-right: 10px
    }
  </style>
</messageview>